<div>
  <h1>GitHub explorer</h1>

  <input type="text" ng-model-options="{debounce: 500}" ng-model="githubExplorer.searchQuery">

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>License</th>
        <th><a href="" ng-click="githubExplorer.toggleOrder('stars')">Stars</a></th>
        <th><a href="" ng-click="githubExplorer.toggleOrder('forks')">Forks</a></th>
        <th>Watchers</th>
        <th>Open issues</th>
        <th>Created</th>
        <th><a href="" ng-click="githubExplorer.toggleOrder('updated')">Updated</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td><input size="10" ng-model-options="{debounce: 500}" type="text" ng-model="githubExplorer.filter.license"></td>
        <td><input size="10" ng-model-options="{debounce: 500}" type="text" ng-model="githubExplorer.filter.stars"></td>
        <td><input size="10" ng-model-options="{debounce: 500}" type="text" ng-model="githubExplorer.filter.forks"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-repeat="repo in githubExplorer.repos track by repo.id">
        <td>
          <a target="_blank" ng-href="{{ repo.html_url }}">{{ repo.full_name }}</a></td>
        <td>{{ repo.license.name }}</td>
        <td>{{ repo.stargazers_count }}</td>
        <td>{{ repo.watchers_count }}</td>
        <td>{{ repo.forks_count }}</td>
        <td>{{ repo.open_issues_count }}</td>
        <td>{{ repo.created_at | date }}</td>
        <td>{{ repo.updated_at | date }}</td>
      </tr>
    </tbody>
  </table>
  <footer ng-if="githubExplorer.getPageCount()">
    <a href="" ng-click="githubExplorer.prevPage()">&lt;</a>
    Page {{ githubExplorer.page }} of {{ githubExplorer.getPageCount() }}
    <a href="" ng-click="githubExplorer.nextPage()">&gt;</a>
  <footer>
</div>
