<div>
  <input type="text" ng-model-options="{debounce: 500}" ng-model="githubExplorer.searchQuery">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Description</th>
        <th>Language</th>
        <th>Stars</th>
        <th>Watchers</th>
        <th>Created</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="repo in githubExplorer.repos track by repo.id">
        <td>{{ repo.full_name }}</td>
      </tr>
    </tbody>
    <tfoot></tfoot>
  </table>
</div>
